a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.iconFull {
  margin: 0;
}

.mantine-DatePicker-dropdown {
  z-index: 9999;
  position: relative;
  top: 0 !important;
}
